# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.ticketing.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\prod\ticketing\.idea\.idea.ticketing.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
